<!doctype html>
<html lang="en" ng-app="FISApp">
<head>
    <meta charset="utf-8">
    <title>FIS</title>
    <!-- app.css is a minified primary css -->
    <link rel="stylesheet" href="../build/app.css">

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-animate/angular-animate.js"></script>
    <script src="../lib/angular-route/angular-route.js"></script>
    <script src="../lib/angular-resource/angular-resource.js"></script>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/animations")
    @Scripts.Render("~/bundles/angularResource")
    @Scripts.Render("~/bundles/filters")
    @Scripts.Render("~/bundles/commonControllers")

    @Scripts.Render("~/bundles/checkBalance")
    @Scripts.Render("~/bundles/giftSend")
    @Scripts.Render("~/bundles/depositCheck")
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:20px;">
            @RenderSection("Header", required: false)
            <div class="row">
                <div class="col-lg-4">
                    <a id="Button1" type="button" value="Client1" class="btn btn-success" ng-href="#/Homes/1/en">Client1</a>
                    <a id="Button2" type="button" value="Client2" class="btn btn-success" ng-href="#/Homes/2/en">Client2</a>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-5 text-right">
                    <a id="Button3" type="button" value="English" class="btn btn-info" ng-href="#/Homes/{{client}}/en">English</a>
                    <a id="Button4" type="button" value="Frech" class="btn btn-info" ng-href="#/Homes/{{client}}/fr">French</a>
                    <a id="Button5" type="button" value="Spanish" class="btn btn-info" ng-href="#/Homes/{{client}}/es">Spanish</a>
                </div>
            </div>
            <br />
            @RenderBody()
            @RenderSection("Left", required: false)
            @RenderSection("Right", required: false)
            @RenderSection("Footer", required: false)
        </div>
    </div>

    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

