<!doctype html>
<html lang="en" ng-app="FISApp">
<head>
    <meta charset="utf-8">
    <title>FIS</title>
    <!-- app.css is a minified primary css -->
    <link rel="stylesheet" href="../build/app.css">
    <link rel="stylesheet" href="../build/theme/theme1.css">
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/animations")
    @Scripts.Render("~/bundles/commonControllers")

    @Scripts.Render("~/bundles/checkBalance")
    @Scripts.Render("~/bundles/giftSend")
    @Scripts.Render("~/bundles/depositCheck")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Access Anywhere</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/Homes/{{client}}/en">English</a></li>
                            <li><a ng-href="#/Homes/{{client}}/fr">French</a></li>
                            <li><a ng-href="#/Homes/{{client}}/es">Spanish</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="container">
        <div class="row" style="margin-top:20px;">
            @RenderSection("Header", required: false)
            <div class="row">
                <div class="col-lg-4">
                    <a id="Button1" type="button" value="Client1" class="btn btn-success" ng-href="#/Homes/1/en">Client1</a>
                    <a id="Button2" type="button" value="Client2" class="btn btn-success" ng-href="#/Homes/2/en">Client2</a>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-5 text-right">
                    <a id="Button3" type="button" value="English" class="btn btn-info" ng-href="#/Homes/{{client}}/en" style="display:none">English</a>
                    <a id="Button4" type="button" value="Frech" class="btn btn-info" ng-href="#/Homes/{{client}}/fr" style="display:none">French</a>
                    <a id="Button5" type="button" value="Spanish" class="btn btn-info" ng-href="#/Homes/{{client}}/es" style="display:none">Spanish</a>
                </div>
            </div>
            <br />
            @RenderBody()
            @RenderSection("Left", required: false)
            @RenderSection("Right", required: false)
            @RenderSection("Footer", required: false)
        </div>
    </div>

    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/restangular/dist/restangular.js"></script>
</body>
</html>

